<div class="app-container">
    <nav>
      <ul>
        <li><a routerLink="/charts" routerLinkActive="active" ariaCurrentWhenActive="page">Charts</a></li>
        <li><a routerLink="/apexcharts" routerLinkActive="active" ariaCurrentWhenActive="page">Apexcharts</a></li>
        <li><a routerLink="/testing" routerLinkActive="active" ariaCurrentWhenActive="page">Testing</a></li>
        <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
      </ul>
    </nav>
  <div class="app-content">
    <router-outlet />
  </div>
</div>
